<div class="col-md-12" style="background: white; padding-left: 0px; padding-right: 0px; height: 100%;">
    <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist" style="padding-left: 0px; padding-right: 0px;">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['modulo1']" role="tab" data-toggle="tab">
          <i class="material-icons">list</i> Licencias Pendientes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['modulo4']" role="tab" data-toggle="tab">
          <i class="material-icons">library_books</i> Historial de Licencias
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['modulo5']" role="tab" data-toggle="tab">
          <i class="material-icons">history</i> Antes de 2018
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['modulo7']" role="tab" data-toggle="tab">
            <i class="material-icons">home</i> Lista de Predios
          </a>
      </li>
    </ul>
  </div>
