<div class="tab-pane active" id="item-1" style="height: -webkit-fill-available;">
    <div class="card card-nav-tabs" style="margin-bottom: 0px;">
      <div class="card-header card-header-primary">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#factura1" data-toggle="tab">
                  <i class="material-icons">attach_money</i> Facturar
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="factura1">

            <h3>Facturar!</h3>

          </div>
        </div>
      </div>
    </div>
  </div>