<div style="height: -webkit-fill-available;">
    <p-table [value]="listaHolita">
        <ng-template pTemplate="caption">
            Licencias Pendientes
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ID Solicitante</th>
                <th>Nombre Solicitante</th>
                <th>Radicado SAC</th>
                <th style="width:8em">Estado</th>
                <th>Fecha de Registro</th>
                <th>Observación Juridica</th>
                <th>Observación Estructural</th>
                <th>Observación Arquitectonica</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-areglo>
            <tr>
                <td>{{areglo}}</td>
                <td>{{areglo}}</td>
                <td>{{areglo}}</td>
                <td>{{areglo}}</td>
                <td>{{areglo}}</td>
                <td>{{areglo}}</td>
                <td>{{areglo}}</td>
                <td>{{areglo}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>